html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.header {
  background-color: rgb(21, 21, 24);
  color: white;
  padding: 30px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  color:#3aabe3;
}

.facts-container {
  padding-left: 50px;
  background-color: #25282e;
  color: white;
  padding: 20px;
  align-items: center;
  margin-top: 0;
  height: 100vh;
  padding-left: 40px;
}
ul li::marker {
  color: #00aaff; /* or any blue you like */
}
.react-icon {
  color: #61dafb; /* typical React blue */
  font-size: 30px;
  margin-right: 10px; /* space between icon and text */
  display: flex;
  z-index: 0;
}
.react-icon1{
  position: relative;
  top: 0px;
  right: -900px;
  color:#9ea2ab;
  display: flex;
  font-size: 300px;
  align-items: right;
  z-index: 0;
  opacity: 0.03;
  filter: grayscale(100%);
}

.facts {
  padding-left: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}
.facts-list{
  padding-left:60px;
  font-size: 18px;
}
.facts-list li{
  margin-bottom: 10px;
}